---
// filepath: /d:/sanji/Documentos/TeecBack/src/components/Carrusel.astro
import Image from "astro/components/Image.astro";
import AutoCar from "../img/AutoCar.png";
import Aguakan from "../img/Aguakan.png";
import CFE from "../img/CFE.png";
import SAT from "../img/SAT.png";
import JyC from "../img/JyC.png";
import MoonPalace from "../img/MoonPalace.png";
import Bepensa from "../img/Bepensa.png";
import INEGI from "../img/INEGI.png";
---

<!-- Empresas Destacadas -->
<section class="mt-12 overflow-hidden">
    <h2 class="text-3xl font-semibold text-gray-900 text-center">
        Empresas que confían en nuestros egresados
    </h2>
    <div class="relative mt-6">
        <div class="flex gap-20 animate-scroll">
            <Image
                src={SAT}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={CFE}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={Aguakan}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={AutoCar}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <!-- Repeat images to create a continuous loop -->
            <Image
                src={SAT}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={CFE}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={Aguakan}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={AutoCar}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={JyC}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={MoonPalace}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={Bepensa}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
            <Image
                src={INEGI}
                alt="CarruselImg"
                class="w-24"
                width={800}
                height={700}
                loading="lazy"
            />
        </div>
    </div>
</section>

<style>
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .animate-scroll {
        animation: scroll 30s linear infinite;
    }
</style>
