---
interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const {
  title,
  description = "TeecBack: plataforma para recopilar retroalimentación de egresados y ofrecer recursos de empleabilidad.",
  ogImage = "/Tucan.png",
} = Astro.props;

import Footer from "../components/Footer.astro";
import "../styles/global.css";
import {ClientRouter} from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TeecBack | {title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/png" href="/Tucan.png" />
    <!-- Open Graph -->
    <meta property="og:site_name" content="TeecBack" />
    <meta property="og:title" content={`TeecBack | ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`TeecBack | ${title}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <ClientRouter />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  body {
    background: #e8edf3;
  }
</style>
